<%= render 'books/list', user: @user,book: @book %>


<div class="post-body">
  <h1>Book detail</h1>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <h3 class="profile-name"><%= @user.name %></h3>
   
  <p><%= @book.book_name %></p>
  <p><%= @book.body %></p>

<%= link_to "Edit", edit_book_path(@book) %>
<%= link_to "Destroy", books_path(@book), method: :delete ,"data-confirm" => "本当に消しますか?" %>
</div>
